//FONT-SIZE
$titleFontSize: 112px;
$h1Size: 50px;
$h2Size: 48px;
$h3Size: 26px;
$h4Size: 20px;
$h5Size: 18px;
$pSize: 16px;
$navSize: 14px;

//COLOURS
$whiteColor: #ffffff;
$blackColor: #222222;
$pinkColor: #f9236f;
$lighPinkColor: #ffa9d8;
$blueColor: #bae9ff;
$darkGrayColor: #494949;
$grayColor: #515151;
$lightGray: #b9b9b9;
$lightGray1: #a8a8a8;
$lightColor2: #cacaca;
$yellowColor: #ffc808;
$redColor: #f92349;