.purchase{
    height: 74px;
    width: 100%;
    background-color: $pinkColor;
    position: relative;
    p{
        font-size: $pSize;
        left: 26px;
        top: 26px;
        color: $whiteColor;
        font-weight: 700;
    }
}
.purchase-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1170px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include breakpoints(1171px){
        padding: 0 16px;
    }
}

.purchase-img{
    width: 100%;
    height: 100%;
}

header{
    position: sticky;
    top: -1px;
    width: 100%;
    opacity: .8;
    background-color: $whiteColor;
    z-index: 10;
    .logo{
        a{
            text-decoration: none;
            color: $blackColor;
        }
    }
    .navigation-up{
        width: 100%;
        max-width: 1170px;
        max-height: 56.5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        border-bottom: 1px solid $blackColor;
        @include breakpoints(1171px){
            padding: 0 16px;
        }
        p{
            font-size: $pSize;
            color: $blackColor;
            font-weight: 500;
            margin: 20px 0px 16px 0px;/*
            @include breakpoints(690px){
                margin: 6px 0px;
            }*/
        }
        a{
            text-decoration: none;
            font-size: $pSize;
            color: $blackColor;
            font-weight: 700;
            transition: .3s;
            &:hover{
                color: $pinkColor;
            }
        }
    }
    .navigation-greetings{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 540px;/*
        @include breakpoints(690px){
            flex-direction: column;
            align-items: flex-start;
        }*/
        p{
            @include breakpoints(345px){
                font-size: $navSize;
            }
        }
        p:first-child {
            @include breakpoints(640px){
                display: none;
            }
        }
    }

    .navigation-value{
        display: flex;
        p{
            font-weight: 700;
            color: $blackColor;
            margin-left: 16px;
            transition: .3s;
            @include breakpoints(365px){
                margin-left: 4px;
            }
            cursor: pointer;
            &:hover{
                color: $pinkColor;
            }
        }
    }

    .navigation-down{
        max-width: 1170px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 20px auto;
        @include breakpoints(1171px){
            padding: 0 16px;
        }
    }

    .nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .nav-links{
        @include breakpoints(690px){
            display: none;
        }
        ul{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        li{
            list-style-type: none;
            margin-left: 16px;
        }
        a{
            text-decoration: none;
            font-size: $pSize;
            color: $blackColor;
            font-weight: 700;
            transition: .3s;
            &:hover{
                color: $pinkColor;
            }
        }
    }

    .nav-icons{
        margin-left: 26px;
        display: flex;
        align-items: center;
        i{
            font-size: $pSize;
            margin-left: 10px;
            cursor: pointer;
            transition: .3s;
            &:hover{
                color: $pinkColor;
            }
        }
        #search-check{
            display: none;
        }
    }
    .nav-search{
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #searchForm{
        display: none;
        width: 100%;
        max-width: 1170px;
        input{
            border: 1px solid $pinkColor;
        }
        @include breakpoints(1171px){
            padding: 0 16px;
        }
    }
    .search-box{
        padding: 4px 12px;
        width: 0%;
        max-width: 1170px;
        border: 1px solid $blackColor;
        border-radius: 20px;
        background-color: $whiteColor;
        margin-bottom: 12px;
        animation-name: searchWidth;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    @keyframes searchWidth {
        0% {width: 0%;}
        100% {width: 100%;}
    }
    
}
